includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    paths:
        - src
        - tests
    excludePaths:
        analyseAndScan:
            - tests/sample-collisions/*
    tmpDir: cache/phpstan/
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    ignoreErrors:
        # we want to support even < PHP 8.0 which requires better-reflection 4.* using different reflectors
        -
            message: '#Roave\\BetterReflection\\Reflector\\DefaultReflector#'
            reportUnmatched: false
        -
            message: '#Roave\\BetterReflection\\Reflector\\ClassReflector#'
            reportUnmatched: false
        -
            message: '#Roave\\BetterReflection\\Reflector\\FunctionReflector#'
            reportUnmatched: false
        -
            message: '#Roave\\BetterReflection\\Reflector\\ConstantReflector#'
            reportUnmatched: false
